* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #23232e;
  font: 14px normal Arial, Helvetica, sans-serif;
  z-index: -4;
}

.filemanager {
  width: 95%;
  max-width: 1340px;
  position: relative;
  margin: 100px auto 50px;
}

@media all and (max-width: 965px) {
  .filemanager {
    margin: 30px auto 0;
    padding: 1px;
  }
}
