.filemanager .breadcrumbs {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
}
.filemanager .breadcrumbs .crumb {
  display: inline-block;
  margin-left: 10px;
  margin-top: 5px;
  background-color: #373743;
  padding: 0.2em;
  z-index: 1;
  cursor: pointer;
  border-radius: 3px;
  transition: 0.3s background-color;
}

.filemanager .breadcrumbs .lastCrumb {
  display: inline-block;
  margin-left: 10px;
  margin-top: 5px;
  padding: 0.2em;
  z-index: 1;
  border-radius: 3px;
}

.filemanager .breadcrumbs .crumb:hover {
  text-decoration: underline;
  background-color: #42424E;
}

.filemanager .breadcrumbs .slash {
  color: #6a6a72;
  margin-left: 10px;
  font-size: 24px;
  font-weight: 700;
  line-height: 20px;
  display: inline-block;
}
