.filemanager .elevate {
  color: #ffffff;
  display: block;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  background-color: #373743;
  font-size: 26px;
  z-index: 1;
  cursor: pointer;
}

.filemanager .top {
  color: #555555;
  display: block;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  background-color: #373743;
  font-size: 26px;
  z-index: 1;
}

.filemanager .elevate:before {
  content: '';
  display: inline-block;
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  position: absolute;
  left: 21px;
  top: 12px;
  width: 9px;
  height: 9px;
  background-color: #373743;
  border-radius: 2px;
  transform: rotate(-45deg);
}

.filemanager .elevate:after {
  content: '';
  display: inline-block;
  border-bottom: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  height: 7px;
  width: 12px;
  background-color: #373743;
  position: absolute;
  left: 26px;
  top: 20px;
}

.filemanager .top:before {
  content: '';
  display: inline-block;
  border-top: 2px solid #555555;
  border-right: 2px solid #555555;
  position: absolute;
  left: 21px;
  top: 12px;
  width: 9px;
  height: 9px;
  background-color: #373743;
  border-radius: 2px;
  transform: rotate(-45deg);
}

.filemanager .top:after {
  content: '';
  display: inline-block;
  border-bottom: 2px solid #555555;
  border-left: 2px solid #555555;
  height: 7px;
  width: 12px;
  background-color: #373743;
  position: absolute;
  left: 26px;
  top: 20px;
}

.filemanager .elevate:hover {
  background-color: #42424E;
}
