.icon {
  font-size: 23px;
}

.icon.folder {
  display: inline-block;
  margin: 1em;
  background-color: transparent;
  overflow: hidden;
}

.icon.folder:before {
  content: '';
  float: left;
  background-color: #7ba1ad;

  width: 1.5em;
  height:0.45em;

  margin-left: 0.07em;
  margin-bottom: -0.07em;

  border-top-left-radius: 0.1em;
  border-top-right-radius: 0.1em;

  box-shadow: 1.25em 0.25em 0 0em #7ba1ad;
}

.icon.folder:after {
  content: '';
  float: left;
  clear: left;

  background-color: #a0d4e4;
  width: 3em;
  height: 2.25em;

  border-radius: 0.1em;
}

.icon.folder.full:before {
  height: 0.55em;
}

.icon.folder.full:after {
  height: 2.15em;
  box-shadow: 0 -0.12em 0 0 #ffffff;
}
